.profileContainer {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profilePicture {
    overflow: hidden;
}
.profilePicture>img {
    max-width: 75px;
    height: 75px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.profileName {
    font-weight: 600;
}

.follow-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow-box label {
}

.seperator-vertical {
    width: 1px;
    background-color: darkgray;
}

.profileContainer>div {
    padding-bottom: 1em;
}
.socialBar {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

button {
    border: none;
    border-radius: 50px;
    background-color: rebeccapurple;
    padding: .5em 1em;
    color: white;
}